
\.idea/

src/cicada/analysis/__pycache__/*

build/

src/cicada/config/*

src/__pycache__/*

src/cicada/preprocessing/__pycache__/*

src/cicada/gui/__pycache__/*

src/cicada/utils/__pycache__/

src/cicada/utils/display/__pycache__/

src/cicada/config/
